{% extends 'base.html.twig' %}
{% set title = "Ajouter un livre" %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block body %}
    <style>
    .required::after {
        content: "*";
        color: red;
    }
    </style>

    <h2>{{ title }}</h2>

    <div>
        Formulaire de creation du livre

        {# Debug du formulaire #}
        {# {{ dump(form) }} #}

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {# Title #}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_help(form.title) }}
        </div>

        {# Description #}
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_help(form.description) }}
        </div>

        {# Cover #}
        <div class="form-group">
            {{ form_label(form.cover) }}
            {{ form_widget(form.cover) }}
            {{ form_errors(form.cover) }}
            {{ form_help(form.cover) }}
        </div>

        {# Price #}
        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
            {{ form_errors(form.price) }}
            {{ form_help(form.price) }}
        </div>

        <button type="submit">Ajouter le livre</button>

        {{ form_end(form, {'render_rest': false}) }}
    </div>

{% endblock %}