{% extends 'base.html.twig' %}
{% set title = "Ajouter un livre" %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block body %}
<h2>{{ title }}</h2>

<div>

    {# Debug du formulaire #}
    {# {{ dump(form) }} #}

   {{ include('book/_form.html.twig') }}
</div>
{% endblock %}