{% extends "base.html.twig" %}
{% set title = "Livre: " ~ book.title %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block body %}
<h2>{{ title }}</h2>

<div>
    <strong>ID</strong>
    {{ book.id }}
</div>

<div>
    <strong>Titre</strong>
    {{ book.title }}
</div>

<div>
    <strong>Description</strong>
    {% if book.description is null %}
    <em>No description</em>
    {% else %}
    {{ book.description }}
    {% endif %}
</div>

<div>
    <strong>Prix</strong>
    {{ book.price }}
</div>
{% endblock %}